@tailwind base;
@tailwind components;
@tailwind utilities;


/* LINKS */

body {
  @apply font-body;
}

a {
  transition: all .3s;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply font-header tracking-widy;
}

.light {
  @apply text-primary;
}

.light:hover {
  @apply text-gray-800;
}


/* TYPOGRAPHY */

p {
  @apply text-lg font-body tracking-widy;
}

.lang_active {
  @apply font-bold;
}

.lang:last-child .separator {
  @apply hidden;
}


/* SVG Settings */

.bgNenderoid {
  fill: #5b87ff;
}


/* ABOUT SECTION */

.list li svg {
  @apply inline text-gray-500 mr-2;
}


/* 404 PAGE */

#triangle-code{
  display : inline-block;
  height : 0;
  width : 0;
  border-top : 17px solid #e2e8f0;
  border-right : 10px solid transparent;
  border-left : 10px solid transparent;
 }


/* DARK SETTINGS */

@screen dark {
  .dark {
    @apply text-secondary;
  }
  .dark:hover {
    @apply text-secondary_light;
  }
  .bgNenderoid {
    fill: #C7FF84;
  }
  #triangle-code{
    border-top : 17px solid white;
   }
}