@tailwind base;
@tailwind components;
@tailwind utilities;


/* LINKS */

a {
  transition: all .3s;
}

a, p, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  @apply tracking-widy;
}

.light {
  @apply text-primary;
}

.light:hover {
  @apply text-gray-800;
}


/* TYPOGRAPHY */

p {
  @apply text-lg;
}


/* HEADER */

/* .lang_active::after {
  content: " ";
  bottom: -12px;
  border-radius: 50%;
  left: 5px;
  height: 8px;
  width: 8px;
  @apply bg-primary absolute;
} */

.lang_active {
  @apply font-bold;
}

.lang:last-child .separator {
  @apply hidden;
}

/* SVG Settings */

.bgNenderoid {
  fill: #5b87ff;
}

.nendo {
  width: 100%;
}

/* ABOUT SECTION */

.list li svg {
  @apply inline text-gray-500 mr-2;
}


/* DARK SETTINGS */

@screen dark {
  .lang_active::after {
    @apply bg-secondary;
  }
  .dark {
    @apply text-secondary;
  }
  .dark:hover {
    @apply text-secondary_light;
  }
  .bgNenderoid {
    fill: #C7FF84;
  }
}